* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jacques Francois;
}

@font-face {
    font-family: Jacques Francois;
    src: url('../assets/fonts/Jacques_Francois/JacquesFrancois-Regular.ttf');
}

html{
    width: 100vw;
}

body {
    background-color: #3B3B3B;
}

div#menu {
    width: 100vw;
    height: 65px;
    background: white;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

div#menu img {
    width: 48px;
    height: 43px;
}

div p {
    position: absolute;
    left: 12px;
    font-size: 31px;

}

#publication img {
    width: 100vw;
    height: 32vh;
    z-index: -1;
}

div#publication {
    display: flex;
    flex-direction: column;
    height: 32vh;
    flex-wrap: nowrap;
    justify-content: flex-end;
    
}

div#publication #post {
    width: 100vw;
    height: 6vh;
    background: #00000080;
    position: absolute;
    align-content: center;
    text-align: center;
    font-size: 38px;
    color: white;

}

article {
    display: flex;
    justify-content: center;
}

article img {
    width: 250px;
    height: 347px;
    border-radius: 6px;
    box-shadow: 0px 0px 6px 1px black;
/*     position: relative;
    top: 20px; */
}
